@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Playfair+Display:wght@800&family=Rajdhani&family=Work+Sans:wght@400;600;700;800&display=swap");

body {
  font-family: "Alegreya", serif;
  font-family: "Playfair Display", serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 135px;
  /* width: 120rem; */
  /* height: 62.62rem; */
  width: 100%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 30px;
}
.nav li a {
  text-decoration: none;
}
.nav h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.banner {
  /* width: 53.875rem;
  height: 14rem; */
  text-align: center;
  margin: 0px auto;
}
.banner div {
  width: 800px;
  margin: 0 auto;
}
.banner h1 {
  color: rgba(19, 19, 19, 1);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.banner p {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 64px;
  border: 0px;
  border-radius: 8px;
  background: #ff900e;
  padding: 25px;
  cursor: pointer;
  margin-top: 2rem;
}
.banner img {
  width: 100%;
  margin-top: 3.1rem;
  text-align: center;
}
/* header section done */

.featurs {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.featurs-img {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.featurs-img img {
  width: 100%;
}
.featurs-text {
  width: 50%;
  padding: 0 90px;
}
.Quick-list {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.of-ours {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.Features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.featurs-text p {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
}
